body{
  border:none;
  border-radius: 15px;
  background: linear-gradient(135deg, #c9c2af, #948e81, #a65447);
  align-items: center;
  justify-content: center;
  display: flex; 
  min-height: 90vh;
  margin: 0;
}
.Calculator{
  background-color: white;
  border: 2px solid #4a4a4a;
  border-radius:20px ;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  padding: 25px;
  max-width: 350px;
  max-height: 700px;
}

.title{
  margin-bottom: 15px;
  color: #0f3460;
  text-shadow: 1px 1px 2px #e94560;
  text-align: center;
  
}

#display{
  width: 90%;
  padding: 5px;
  border: none;
  text-align: right;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 30px;
}
#buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 60px;
}
button{
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 1.6em;
  cursor: pointer;
  
}
button:hover{
  border-radius: 50%;
}
.operators{
  
  border-radius: 50%;
  border: none;
  padding: 10px;
  aspect-ratio: 1/1;
  color: #FF6D2E;
  
}
footer p {
    margin-top: 20px;
    font-size: 0.8em;
    color: #4a4a4a;
    text-align: center;
}
#equal{
  background-color: #FF6D2E;
  color: black;
}
a{
  text-decoration:none;
  color: inherit;
}


